body {
    background-color: antiquewhite;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: cursive;
}

header {
    border: 2px solid;
}

.mini-perfil {
    text-decoration: none;
    color: black;
    text-align: left;
}

.mini-perfil>img {
    border-radius: 50%;
    width: 50px;
}
.container{
    display: flex;
    justify-content: center;
    width: 100%;
}


.projects {
 flex: 2;
 border: 2px solid;
 height: 500px;
}

.works {
    border: 2px solid;
    flex: 2;
}

.education {
    border: 2px solid;
    flex: 2;
}